<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- if site.github_link -%}
          <li class="footer-links"><a href="{{ site.github_link }}">locha-usd.github.io on github</a></li>
          {%- endif -%}

          {%- if site.twitter_link -%}
          <li class="footer-links"><a href="{{ site.twitter_link }}">twitter</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    <h5 id="support-this-work"><em>Support this work</em></h5>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
          <img style="margin-bottom: 14px;" alt="LUSD asset info" src="{{ site.url }}/images/bitcoin_qr_s.png" />
          <h3 id="bitcoin3legz6mpp1ybpwxjvcsiuwcvpobxtkdeq3"><code>Bitcoin:3LEgz6MPp1ybPWXjvcSiUwcvpoBxTKdEQ3</code>
          </h3>
      </div>
      <div class="footer-col footer-col-3">
          <img alt="LUSD asset info" src="http://localhost:4000/images/liquid_qr_s.png" />
          <h3 id="liquidvjlfeouv48cai2yl7pb1asdhabgiw67rzgnsdbdeznxcawiihfsb4id7qqd9z3y8dtjshdwahejeza8a">
            <code>Liquid:VJLFeoUv48CAi2yL7PB1asdHaBGiW67rzGnSdBDeZNxCAwiihFSB4id7qqD9Z3y8dtJShDwAhEJEZa8a</code></h3>
      </div>
    </div>

  </div>

</footer>
